@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 text-white">Welcome</h1>
    <p class="text-white">Acessar site:  <a class="text-white" href="https://www.fambec.com.br/">Fambec | Soluções fiscais inteligentes</a>.</p>
</div>

<div class="containe">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Cupom fiscal</div>
    <div class="card-body">
        <a class="nav-link text-white" asp-area="" asp-controller="Upload" asp-action="Index">
            <h4 class="card-title">Upload Cupons fiscais</h4>
            <p class="card-text">Aqui você pode fazer o Upload de seus cupons fiscais no formato XMl e manipular as informações como ndesejar.</p>
        </a>
    </div>
</div>
<div class="card text-white bg-success mb-3 dv" style="max-width: 20rem;">
    <div class="card-header">NFe</div>
    <div class="card-body">
        <a class="nav-link text-white" asp-area="" asp-controller="Upload" asp-action="Index">
            <h4 class="card-title">Upload Nfe</h4>
            <p class="card-text">Aqui você pode fazer o Upload de suas notas fiscais no formato XMl e manipular as informações como ndesejar.</p>
        </a>
    </div>
</div>
</div>
